<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">Listing All Projects</div>
			<div class="box-content nopadding">
			
<p class="pull-right"><%= link_to 'Create New Project', new_project_path, :class => "btn"  %></p>
<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Release date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.owner %></td>
    <td><%= project.release_date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Project', new_project_path %>
</div><!--./end of box content-->
</div><!--./end of box-->
</div><!--./end of span12 -->
</div><!--./end of row-fluid-->
