<div class="span12">
	<div class="box">
		<div class="box-title">Project Details</div>
		<div class="box-content">
			<p><b>Name:</b>&nbsp<span><%= @project.name %></span></p>
			<p><b>Owner:</b>&nbsp<span><%= @project.owner %></span></p>
			<p><b>Release Date:</b>&nbsp<span><%= @project.release_date %></span></p>
			
			<p class="pull-right"><%= link_to 'Report New Bug', new_bug_path, :class => "btn" %> | <%= link_to 'Edit Project Details', edit_project_path(@project), :class => "btn" %> | <%= link_to 'Project Statistics', '#', :class => "btn" %> </p>
		
			<br>
		</div>
	</div>

	<div class="box">
		<div class="box-title">Bugs</div>
		<div class="box-content">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th>id</th>
			      <th>Reported By</th>
			      <th>Reported On</th>
			      <th>Short Description</th>
				  <th>Case Status</th>
				  <th>Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @bugs.each do |bug| %>
			      <tr>
			        <td><%= bug.id %></td>
			        <td><%= bug.author %></td>
			        <td><%= bug.created_at %></td>
					<td><%= bug.short_desc %></td>
					<td><span class="<%= status_icon(bug.status) %>"><%= bug.status %></span></td>
					<td><%= link_to 'View', bug_path(bug, :project => @project), :class => 'btn btn-mini' %>
			          <%= link_to 'Edit', edit_bug_path(bug, :project => @project ), :class => 'btn btn-mini' %>
			          <%= link_to 'Destroy', bug_path(bug), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
			        </td>
			     </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>


<%= link_to 'Back', projects_path %>


