<%= semantic_form_for(@bug) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= f.inputs do %>
    <%= f.input :author, :label => 'Engineer' %>
    <%= f.input :email, :label => 'Email' %>
    <%= f.input :project, :label => 'Project Name', :include_blank => true %>
    <%= f.input :description, :label => 'Description' %>
    <%= f.input :priority, :label => 'Priority', :as => :select, :collection =>[ 'High', 'Medium', 'Low'], :include_blank => false %>
    <%= f.input :status, :label => 'Status', :as => :select, :collection => ['Open', 'Resolved'], :include_blank => false %>

  <% end %>	
  
  <div class="actions">
     <%= f.buttons %>
  </div>
<% end %>


